In [3]:
# https://www.statology.org/pandas-check-if-string-contains-multiple-substrings/

import pandas as pd

#create DataFrame
df = pd.DataFrame({'team' : ['Good East Team', 'Good West Team', 'Great East Team',
                             'Great West Team', 'Bad East Team', 'Bad West Team'],
                   'points' : [93, 99, 105, 110, 85, 88]})

#view DataFrame
df

              team  points
0   Good East Team      93
1   Good West Team      99
2  Great East Team     105
3  Great West Team     110
4    Bad East Team      85
5    Bad West Team      88

In [7]:
df['good_or_east'] = df['team'].str.contains('|'.join(['Good', 'East']))
df

              team  points  good_or_east
0   Good East Team      93          True
1   Good West Team      99          True
2  Great East Team     105          True
3  Great West Team     110         False
4    Bad East Team      85          True
5    Bad West Team      88         False